
<div class="col-md-6" id="result-league">
<div class="container-fluid slot">
  <h3><center>government App</center></h3>
</div>
<form name="myForm">
    <label for="singleSelect"> Single select: </label><br>
    <select class="form-control form-control-lg" name="singleSelect" ng-model="hm.country">
      <option value="IN">India</option>
      <option value="US">United States</option>
      <option value="UK">United Kingdom</option>
      <option value="CA">Canada</option>
    </select>
    <select class="form-control form-control-lg" name="singleSelect" ng-model="hm.year">
      <option value="2010">2010</option>
      <option value="2011">2011</option>
      <option value="2012">2012</option>
      <option value="2013">2013</option>
      <option value="2014">2014</option>
    </select>
    <button class="btn btn-lg btn-success"ng-click="hm.getInfo()">get info</button>
</form>
     <table class="table table-hover ">
       <tbody>
         <tr ng-repeat = "n in hm.govtResponse | filter:$ctrl.query">
           <td>{{n[0]}}</td>
           <td>{{n[1]}}</td>
           <td>{{n[2]}}</td>
           <td>{{n[3]}}</td>
           <td>{{n[4]}}</td>
           <td>{{n[5]}}</td>
           <td>{{n[6]}}</td>
         </tr>
       </tbody>
     </table>
   </div>
 </div>
